body{
	margin: 0;
	font-family: "Open Sans";
	background-color: #241623;
}

header {
	margin: 0;
	height: 60vh;
}

i.material-icons {
	color: #F4F4F4;
	font-size: 2rem;
}

.toggle-navigation {
	padding: 1rem;
	display: block;
	float: left;
}

.header_creator {
	margin: 0 auto;
	text-align: center;
	padding: 1rem;
	color: #FF6F61;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.05em;
}

.header_main_text {
	margin: 20vh auto;
	text-align: center;
	color: #F4F4F4;
	font-size: 1.5rem;
}

h1.category-header {
	color: #FF6F61;
	font-size: 8rem;
	line-height: 5rem;
	font-weight: 800;
	margin: 0;
	margin-top: 20vh;
	margin-left: 4%;
	position: relative;
	z-index: 10;
}

.container {
	margin: 0 4%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

article {
	flex-grow: 1;
	flex: flex-grow;
	width: 45%;
	height: 70vh;
	background-color: #F4F4F4;
}

article>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
	z-index: 0;
}

.container-article {
	position: relative;
}

article>section {
	z-index: 2;
	margin: 4%;
	position: absolute;
	text-align: center;
}

.full-length {
	flex-grow: 2;
}

.case-item-bg {
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.text-white {
	color: #F4F4F4;
}

@media screen and (max-width: 640px) {
	.full-length {
		grid-column-end: 2;
	}

	.container {
		margin: 0;
		flex-direction: column;
	}

	article {
		width: 100%;
		height: 100vh;
	}
}